header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

body {
  margin: 0;
  background-color: #252A44;
  color: #267e99;
  line-height: 1.5;
  font-size: 100%;
  font-family: 'Courier New', monospace;
}

.nav, .container {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: baseline;
  align-content: space-between;
}

.post {
  background-color: #267e99;
  color: #252A44; 
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a:link, a:visited {
  text-decoration: none;
  color: #267e99;
}

h1, h2, h3, h4, h5, h6, p, pre code {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: .5em;
}