header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

body {
  margin: 0;
  background-color: #252A44;
  color: #267e99;
  line-height: 1.5;
  font-size: 100%;
  font-family: 'Courier New', monospace;
}

.nav, .container {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  align-items: baseline;
  align-content: space-between;
}

a:link, a:visited {
  text-decoration: none;
  color: #267e99;
}