header {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

body {
  margin: 0;
  background-color: #252A44;
  color: #CAD2C5;
  line-height: 1.5;
  font-size: 100%;
  font-family: 'Courier New', monospace;
}
